name: CI/CD ML Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build and push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ml-training-app:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run training inside docker
        run: |
          docker run --rm -v ${{ github.workspace }}:/app ${{ secrets.DOCKER_USERNAME }}/ml-training-app:latest python train.py

      # Step 5 (Optional): Upload model artifact
      - name: Save trained model
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: model.pkl
